In [1]:
import pandas as pd

AirQuality = {'S.No': [1,2,3,4,5,6,7,8,9,10],
               'Ozone': [41,36,12,18,27,28,23,19,8,24],
               'Sloar R':[190,118,149,313,192,193,299,99,19,194],
               'Wind':[7.4,8,12.6,11.5,14.3,14.9,8.6,13.8,20,18.6],
               'Temp':[67,72,74,62,56,66,65,59,61,69],
               'Month':[5,5,5,5,5,5,5,5,5,5],
               'Day':[1,2,3,4,5,6,7,8,9,10]
        }

df = pd.DataFrame(AirQuality, columns = ['S.No', 'Ozone','Sloar R','Wind','Temp','Month','Day'])

print (df)

   S.No  Ozone  Sloar R  Wind  Temp  Month  Day
0     1     41      190   7.4    67      5    1
1     2     36      118   8.0    72      5    2
2     3     12      149  12.6    74      5    3
3     4     18      313  11.5    62      5    4
4     5     27      192  14.3    56      5    5
5     6     28      193  14.9    66      5    6
6     7     23      299   8.6    65      5    7
7     8     19       99  13.8    59      5    8
8     9      8       19  20.0    61      5    9
9    10     24      194  18.6    69      5   10

In [2]:
df.describe()

           S.No      Ozone     Sloar R       Wind       Temp  Month       Day
count  10.00000  10.000000   10.000000  10.000000  10.000000   10.0  10.00000
mean    5.50000  23.600000  176.600000  12.970000  65.100000    5.0   5.50000
std     3.02765  10.101705   87.958576   4.274225   5.704774    0.0   3.02765
min     1.00000   8.000000   19.000000   7.400000  56.000000    5.0   1.00000
25%     3.25000  18.250000  125.750000   9.325000  61.250000    5.0   3.25000
50%     5.50000  23.500000  191.000000  13.200000  65.500000    5.0   5.50000
75%     7.75000  27.750000  193.750000  14.750000  68.500000    5.0   7.75000
max    10.00000  41.000000  313.000000  20.000000  74.000000    5.0  10.00000

In [3]:
df.head()

   S.No  Ozone  Sloar R  Wind  Temp  Month  Day
0     1     41      190   7.4    67      5    1
1     2     36      118   8.0    72      5    2
2     3     12      149  12.6    74      5    3
3     4     18      313  11.5    62      5    4
4     5     27      192  14.3    56      5    5

In [6]:
# Summarize the table in python
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.No     10 non-null     int64
 1   Ozone    10 non-null     int64
 2   Sloar R  10 non-null     int64
 3   Wind     10 non-null     float64
 4   Temp     10 non-null     int64
 5   Month    10 non-null     int64
 6   Day      10 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 688.0 bytes

In [7]:
df.describe()

           S.No      Ozone     Sloar R       Wind       Temp  Month       Day
count  10.00000  10.000000   10.000000  10.000000  10.000000   10.0  10.00000
mean    5.50000  23.600000  176.600000  12.970000  65.100000    5.0   5.50000
std     3.02765  10.101705   87.958576   4.274225   5.704774    0.0   3.02765
min     1.00000   8.000000   19.000000   7.400000  56.000000    5.0   1.00000
25%     3.25000  18.250000  125.750000   9.325000  61.250000    5.0   3.25000
50%     5.50000  23.500000  191.000000  13.200000  65.500000    5.0   5.50000
75%     7.75000  27.750000  193.750000  14.750000  68.500000    5.0   7.75000
max    10.00000  41.000000  313.000000  20.000000  74.000000    5.0  10.00000

In [8]:
df.value_counts()

S.No  Ozone  Sloar R  Wind  Temp  Month  Day
1     41     190      7.4   67    5      1      1
2     36     118      8.0   72    5      2      1
3     12     149      12.6  74    5      3      1
4     18     313      11.5  62    5      4      1
5     27     192      14.3  56    5      5      1
6     28     193      14.9  66    5      6      1
7     23     299      8.6   65    5      7      1
8     19     99       13.8  59    5      8      1
9     8      19       20.0  61    5      9      1
10    24     194      18.6  69    5      10     1
dtype: int64

In [9]:
df.nunique()

S.No       10
Ozone      10
Sloar R    10
Wind       10
Temp       10
Month       1
Day        10
dtype: int64

In [10]:
df.max()
df.min()
df.mean()
df.median()

S.No         5.5
Ozone       23.5
Sloar R    191.0
Wind        13.2
Temp        65.5
Month        5.0
Day          5.5
dtype: float64

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model=LinearRegression()
#model.fit(X,y)
#r_sq = model.score(X,y)
#print('coefficient of determination:', r_sq)
model = LinearRegression()
df=df.drop('S.No',axis='columns')
model.fit(df.drop('Ozone',axis='columns'),df.Ozone)

LinearRegression()

r_sq = model.score(x, y)

In [22]:
r_sq = model.score(df.drop('Ozone',axis='columns'),df.Ozone)
print('Coffecient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)

Coffecient of determination: 0.3947436811535445
intercept: 44.89457137031341
slope: [-0.00292582 -1.25861074 -0.03036036  0.         -0.45040567]

In [16]:
model.predict([[299,8.6,65,5,7]])

array([28.06943629])

In [23]:
model.predict([[313,11.5,62,5,21]])

array([18.16390544])

In [20]:
model.predict([[192,14.3,56,5,5]])

array([22.3824722])